{
  "presets": [
    ["env"],
    "react"
  ],
  "plugins": [
    ["module-resolver", {
      "alias": {
        "react": "preact/compat",
        "@app-elements/equal": "./util/equal",
        "^@app-elements/(.+)": "./components/\\1",
        "": "./src"
      }
    }],
    ["jsx-import/src/index.js", {
      "identifier": "Preact",
      "moduleName": "preact"
    }],
    ["transform-react-jsx", {"pragma": "Preact.h"}]
  ]
}
